 .certifications-container .header {
    text-align: center;
    padding: 100px;
  }
  
  .certifications-container .row {
    display: flex;
    justify-content: flex-start;
    width: 90%;
    margin: 0 auto;
  }
  
  .certifications-container .column img {
    margin: 12px;
  }
  
  .certifications-container .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .envision{
    color: black;
    font-size: 2em;
    padding: 2em;
  }